.social-icon {
  margin: 15px 10px;
  color: black;
}

#title {
  background-color: #6679b6;
  color: whitesmoke;
}

.navbar-brand {
  font-family: Lora, sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.html-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

.css-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

.pencil-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

#work h3 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}
.card-header {
  background-color: #f9ceb7;
}
p {
  font-family: Lora, serif;
  font-weight: 400;
  font-size: 18px;
}

#header-title h2 {
  font-family: Lora, sans-serif;
}

#header-title h2 {
  position: absolute;
  font-family: Lora, sans-serif;
  font-weight: 700;
  font-size: 52px;
  padding: 3%;
  color: whitesmoke;
}
#footer {
  text-align: center;
  background-color: #6679b6;
  padding: 7% 15%;
}

#footer h3 {
  font-size: small;
  color: whitesmoke;
  font-family: Lora, sans-serif;
}

.nav-item {
  font-family: Lora, sans-serif;
  font-weight: lighter;
  color: whitesmoke;
}

span {
  color: black;
}
