#footer {
  padding: 7% 15%;
  text-align: center;
}

#footer h3 {
  font-size: small;
}

.social-icon {
  margin: 15px 10px;
  color: black;
}

#title {
  background-color: #6679B6;
  color: white;
}

.navbar-brand {
  font-family: Lora, sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.html-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;

  
}

.css-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;

}

.pencil-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;

}

#work h3 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}
.card-header {
  background-color: #f9ceb7;
}
p{
  font-family: Lora, serif;
  font-weight: 400;
  font-size: 18px;
}

