.product {
  /* the width of each screen shot */
  width: 90%;
  height: 40vh;
  margin: 10px 10px 0px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.productBrowser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.productImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overLay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(243, 242, 242);
}

.container:hover .overLay {
  opacity: 1;
}

.text {
  display: none;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: #437dcb;
  border: 2px solid #437dcb;
  background-color: white;
  margin: 0px;
  padding: 14px 28px;
  cursor: pointer;
}

.button {
  border-color: #a1bee5;
  color: #3d79c9;
}
.button:hover {
  background: rgb(243, 242, 242);
  color: #3d79c9;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .product {
    width: 90%;
    height: 50vh;
    margin: 10px 10px;
  }
}

@media only screen and (min-width: 992px) {
  .overLay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product {
    width: 45%;
    height: 40vh;
    margin: 10px 10px;
  }
}
