.product {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.productBrowser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.productImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* transition: all 10s ease; */
}

/* .product:hover .productImage {
  transform: translateY(-100%);
} */


.productTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overLay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
  pointer-events: none;
}

.container:hover .overLay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width: 480px) {
  .product {
    width: 40%;
    height: 20vh;
  }
}
