.heading {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  color: #437dcb;
  background-color: #a6c2e6;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
