.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px solid red; */
  margin: 20px 200px 200px 200px;
  
  
  
  

}

iframe {
  display: block; /* iframes are inline by default */
  background: black;
  border: none;
  height: 360px; /* Viewport-relative units */
  width: 640px; 
  border: solid 5px #437dcb; 
  border-radius: 30px;
  
  
}

.heading {
  font-family: 'Exo', 'sans-serif';
  text-align: center;
  color: #437dcb;
  font-size: 40px;
}
