.aboutContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}

.aboutCardBackground {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
}

.aboutCard {
  width: 90%;
  height: 30vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.aboutImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutTitle {
  font-weight: 700;
  font-family: 'Exo', sans-serif;
  font-size: 40px;
  color: #437dcb;
  margin-bottom: 20px;
}

.aboutSubHeading {
  margin: 20px 0px;
}

.aboutDescription {
  font-weight: 500;
  line-height: 1.5em;
  color: #a1bee5;
  margin-bottom: 0px;
  max-width: 1070px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .aboutCard {
    margin-top: 50px;
  }
  .aboutDescription {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 1048px;
  }

  .aboutLeft {
    display: flex;
    justify-content: space-evenly;
  }

  .aboutRight {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .aboutTitle {
    padding-left: 50px;
    margin-top: 0px;
  }

  .aboutDescription {
    font-size: 20px;
    text-align: justify;
  }

  .aboutCard {
    margin: 0px 0px 0px 50px;
  }
}
