.footer {
  font-family: 'Exo', sans-serif;
  font-weight: 550;
  padding: 1rem;
  /* background-color: ;  */
  bottom: 0;
  left: 0;
  
}

.social {
  text-align: center;
  padding-left: 10px;
}
.social ul {
  /* display: flex;
  align-items: center;
  justify-content:center;
  padding-bottom: 10px; */
  list-style-type: none;
}

.social ul li {
  display: inline-block;
  padding-left: 10px;
  margin: 10px;
}
p {
  text-align: center;
  color: #437dcb;
}

a {
  font-weight: 550;
}
@media only screen and (max-width: 320px) {
  .footer {
    display: none;
  }
}
