.footer {
  font-family: 'Exo', sans-serif;
  font-weight: 550;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #a6c2e6;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

p {
  text-align: center;
  color: #3d79c9;
}

@media only screen and (max-width: 320px) {
  .footer {
    display: none;
  }
}

