.footer {
  font-family: 'Exo', sans-serif;
  font-weight: 550;
  padding: 1rem;
  /* background-color: ;  */
  bottom: 0;
  left: 0;
}

p {
  text-align: center;
  color: #437dcb;
}

@media only screen and (max-width: 320px) {
  .footer {
    display: none;
  }
}
