.product {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.productListText {
  width: 65%;
}

.productListTitle {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Exo', sans-serif;
}

.productListDescription {
  margin: 20px 0px;
}

.productList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .productList {
    padding: 10px;
  }

  .productListText {
    width: 100%;
  }

  .productListDescription {
    display: none;
  }
}
