.contact {
  height: 100vh;
  position: relative;
  font-family: 'Exo', sans-serif;
}

.contactBackground {
  width: 20px;
  height: 100%;
  position: absolute;
}

.contactWrapper {
  padding: 50px;
  display: flex;
}

.contactLeft {
  flex: 1;
}

.contactRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactTitle {
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  width: 80%;
  
}

.contactInfoItem {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 70%;
}

.contactIcon {
  margin-right: 20px;
  color: blue;
  font-size: 40px;
  margin-left: 10px;
}

.contactDescription {
  font-weight: 200;
}

form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  /* border-bottom: 1px solid black; */
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #3d79c9;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .contactWrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .contactTitle {
    font-size: 30px;
  }

  .contactInfoItem {
    margin: 20px 0px;
    width: 100%;
  }

  .contactDescription {
    display: none;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
  }
}
