.contactContainer {
  font-family: 'Exo', sans-serif;
  padding-bottom: 50px;
}

.contactTitle {
  font-size: 40px;
  font-family: 'Exo', sans-serif;
  color: #437dcb;
  text-align: center;
}

.contactEmail {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* border: none; */
  /* background-color: #3d79c9; */
  /* color: white; */
  color: #3d79c9;
  border: 2px solid #437dcb;
  background-color: white;
  margin: 50px 0 50px 0;
  padding: 14px 28px;
  cursor: pointer;

  /* position: absolute;  */

  /* left: 50%; */
  /* -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%); */
  /* transform: translate(-50%, -50%); */
}

/* .contactEmail {
  border-color: #437dcb;
  color: #3d79c9;
} */
.contactEmail:hover {
  background: rgb(243, 242, 242);
  color: #3d79c9;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
