


.mainImage {
  /* Full height */
  /* height: 50%; */

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  
}

.backgroundImage {
  /* max-width:1430px; */
   /* margin: 0 auto;
   padding-top: 10px; 
   padding-top: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  */
  
}

.heading {
   text-align: center;
}