.container {
  /* position: relative; */

  margin: 0 auto;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 100%;
  /* padding: 20px; */
  /* height: 66%; */
}

.content{
  padding-bottom: 50px;

}
.backgroundImage {
  height: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heading {
  text-align: center;
  font-size: 20px;
}

.description {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  margin-bottom: 0px;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: #437dcb;
  border: 2px solid #437dcb;
  background-color: white;
  margin: 50px 10px 0px 0;
  padding: 10px;
  cursor: pointer;
  width: 100px;
}

.center {
  display: flex;
  justify-content: center;
}

a {
  text-align: center;
}
